/* styling for the whole project in index.css */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.mainContainer {
  display: flex;
}

.listContainer {
  padding: 30px;
  background: #aadaff;
  width: 30%;
}

.mapContainer {
  width: 70%;
}

li {
  list-style-type: none;
  border-bottom: 2px solid white;
  padding: 5px 0px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

ul {
  padding: 0;
}

h1,li {
  color: white;
  text-transform: uppercase;
}
.placeName {
  margin: 2px 0px;
  color: #3c8474;
  text-transform: capitalize;
}

button {
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #aadaff;
  font-size: 12px;
  margin-left: 20px;
}

input{
    border: none;
    border-radius: 3px;
    background-color: #ebece8;
}

.input{
  font-size: 12px;
  padding: 5px;
}

.delete {
  cursor: pointer;
}
